---
---
.hero{
    background: url('/assets/img/HeroBackground_black_mask.jpg') center;
    background-size: cover;
    padding: 4rem 2rem;
    height: 100vh;
    color:black;
    font-weight: bolder;

    article{
        color: white;
        font-weight: bolder;
    }
}