---
---
@import 'base/typography';
@import 'abstracts/variables';
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/buttons";

html{
    font-family: $primary-font;
}



.hero{
    background: url('../img/HeroBackground_mask_blue.jpg') center;
    background-size: cover;
    padding: 6rem 3rem 10rem 2rem;
    height: 100vh;
    color:$white-color;
    font-size: 1rem;
    // font-size: 2.5rem;
    
    h1{
        // font-size: 4rem;
        // font-size: 1.9rem;
        font-size: 1.7rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    display: grid;
    align-items: center;

    
}



.btn-red{
    
    letter-spacing: 0.11em;
    text-transform: uppercase;    
    background-color:$hightlight-color;
    padding: 1.3rem;
    margin-top: 1.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: $white-color;
    text-decoration: none;
    color: white;

    &:visited {
          color: inherit;
        }
        &:hover {
            color: inherit;
            transform: translateY(1px);
            filter: saturate(150%);
        }
        &:active {
            color:  inherit;
        }
    
        
};



.aboutme{
    color:$white-color;
    height: 160vh;
    padding:1rem;
    font-size: 1rem;
    background: url('../img/programming_mask_black.jpg') center;
    background-size: cover;
    display: grid;
    align-items: center;
}

.highlight{   
        text-decoration: none;
        color: $hightlight-color !important;
        &:visited {
          color: inherit;
        }
        &:hover {
            background-color:$hightlight-color;
            color: white !important;
            padding: 10px;
            text-decoration: none;
        }
        &:active {
            color:  inherit;
        }
};





.contact{
    color: darkgrey;
    background-color: white;
    display: grid;
    align-items: center;
    height: 100vh;
    font-size: 1.3rem;
    // font-size: 2.5rem;
    font-weight: 700;

    a {
        color:  black;
        &:visited {
          color: black;
        }
        &:hover {
            color: black;
        }
        &:active {
            color:  black;
        }
      };

      article {
          p{
              text-align: center;
          }
      }

}


// @include media-breakpoint-up(md) {
//     .hero{
//         font-size: 2.1rem;
//         h1{
//             font-size: 3rem;
//         }
//     }

//     .btn-red{
//         font-size: 0.7rem;
//     };

//     .aboutme{
//         font-size: 1rem;
//     }

//     .contact{
//         font-size: 2rem;
//     }
// }



@include media-breakpoint-up(lg) {
    .hero{
        font-size: 2.5rem;
        h1{
            font-size: 4rem;
        }
    }

    .btn-red{
        font-size: 1.3rem;
    };

    .aboutme{
        font-size: 1.5rem;
        height: 100vh;
    }

    .contact{
        font-size: 3rem;
    }
}


@include media-breakpoint-up(md) {
    .hero{
        font-size: 2.5rem;
        h1{
            font-size: 4rem;
        }
    }

    .btn-red{
        font-size: 1.3rem;
    };

    .aboutme{
        font-size: 1.5rem;
        height: 100vh;
    }

    .contact{
        font-size: 3rem;
    }
}


