---
---
@import 'base/typography';
@import 'abstracts/variables';
@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/buttons";

html{
    font-family: $primary-font;
}



.hero{
    background: url('/assets/img/HeroBackground_mask_blue.jpg') center;
    background-size: cover;
    padding: 6rem 3rem 10rem 2rem;
    height: 100vh;
    color: white;
    font-size: 2.5rem;
    
    h1{
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}

.btn-red{
    color: white;
    background-color: red;
    padding: 1.3rem;
    margin-top: 1.3rem;
    font-size: 1.2rem;
    font-weight: bold;
    
}


.aboutme{
    color:white;  
    height: 100vh;
    padding:1rem;
    font-size: 2rem;
    background: url('/assets/img/programming_mask_black.jpg') center;
    background-size: cover;
    display: grid;
    align-items: center;
}

.contact{
    color: darkgrey;
    background-color: white;
    display: grid;
    align-items: center;
    height: 100vh;
    font-size: 2.5rem;
    font-weight: 700;

    a {
        color:  black;
        &:visited {
          color: black;
        }
        &:hover {
            color: black;
        }
        &:active {
            color:  black;
        }
      };

}