<html lang="pt-PT">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145420405-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-145420405-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{'/node_modules/bootstrap/dist/css/bootstrap-reboot.min.css' | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{'/node_modules/bootstrap/dist/css/bootstrap.min.css' | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
     
    
</head>
<body>
    {{content}}
</body>
</html>